
body {
    background-color: #FFE700;
 
}

.button0 {
    background-color: #FFFFFF; /* white */
    border: none;
    color: black;
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #000;
  margin:4px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
   font-family:'Comic Sans', cursive;
    font-size: 15px;
}

#myText {
    background-color: #FFFFFF; /* white */
    border: none;
    color: black;
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #000;
  margin:4px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
   font-family:'Comic Sans', cursive;
    font-size: 20px;
}
.btn1 { 
  background-color: #FFFFFF; /* white */
    border: none;
    color: black;
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #000;
    padding: 15px 32px;
  margin:6px;
    text-align: center;
    text-decoration: none;
   font-family:'Comic Sans', cursive;
    font-size: 15px;
}
.btn2 { 
  background-color: #58554B; /* Grey */
    border: none;
    color: red;
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #000;
    padding: 15px 32px;
  margin:6px;
    text-align: center;
    text-decoration: none;
   font-family:'Comic Sans', cursive;
    font-size: 15px;
}
.btn3 { 
  background-color: red; /* red */
  background: linear-gradient(red, yellow);
    border: none;
    color: black;
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #000;
    padding: 15px 32px;
  margin:6px;
    text-align: center;
    text-decoration: none;
   font-family:'Comic Sans', cursive;
    font-size: 15px;
}
.btn4 { 
  background-color: green; /* Green */
  background: linear-gradient(green, blue);
    border: none;
    color: white;
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #000;
    padding: 15px 32px;
  margin:6px;
    text-align: center;
    text-decoration: none;
   font-family:'Comic Sans', cursive;
    font-size: 15px;
}
.btn5 { 
  background-color: yellow; /* yellow */
  background: linear-gradient(yellow, white);
    border: none;
    color: black;
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #000;
    padding: 15px 32px;
  margin:6px;
    text-align: center;
    text-decoration: none;
   font-family:'Comic Sans', cursive;
    font-size: 15px;
}
html, body {
  margin:0;
  padding:0;
  font-family:'Comic Sans', cursive;
}

.comic {
  display:flex;
  flex-wrap:wrap;
  font-family:'Comic Sans', cursive;
  padding:1vmin;
}

.panel {
  background-color:#fff;
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #000;
  display:inline-block;
  flex:1 1;
  height:200px;
  margin:1vmin;
  overflow:hidden;
  position:relative;
}

.text {
  background-color:#fff;
  border:solid 2px #000;
  margin:0;
  font-family:'Comic Sans', cursive;
  padding:3px 10px;
}

.top-left {
  left:-6px;
  position:absolute;
  top:-2px;
  transform:skew(-15deg);
}

.bottom-right {
  bottom:-2px;
  position:absolute;
  right:-6px;
  transform:skew(-15deg);
}

#demo {
  background-color:#fff;
  border:solid 2px #000;
  border-radius:12px;
  display:inline-block;
  margin:.5em;
  padding:.5em 1em;
  position:relative;
}
.speech {
  background-color:#fff;
  border:solid 2px #000;
  border-radius:12px;
  display:inline-block;
  margin:.5em;
  padding:.5em 1em;
  position:relative;
}

.speech:before {
  border:solid 12px transparent;
  border-left:solid 12px #000;
  border-top:solid 12px #000;
  bottom:-24px;
  content:"";
  height:0;
  left:24px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}

.speech:after {
  border:solid 10px transparent;
  border-left:solid 10px #fff;
  border-top:solid 10px #fff;
  bottom:-19px;
  content:"";
  height:0;
  left:27px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}
#picone{
  style:width:225px;
  height:161px;
  border:solid 4px #000;
  padding:15px;
}
#picone2{
  style:width:225px;
  height:161px;
  border:solid 4px #000;
  padding:15px;
}

#pictwo{
  style:width:225px;
  height:161px;
  border:solid 4px #000;
  padding:15px;
  position: absolute;
}
#picthree{
  style:width:225px;
  height:161px;
  border:solid 4px #000;
  padding:15px;
  position: absolute;
}
#picfour{
  style:width:225px;
  height:161px;
  border:solid 4px #000;
  padding:15px;
  position: absolute;
}
#picfive{
  style:width:225px;
  height:161px;
  border:solid 4px #000;
  padding:15px;
  position: absolute;
}
.panel:nth-child(1) {
  flex-basis: 400px;
}
.panel:nth-child(2) {
  flex-basis: 200px;
}
.panel:nth-child(3) {
  flex-basis: 200px;
}
.panel:nth-child(4) {
  flex-basis: 200px;
}
panel:nth-child(5) {
  flex-basis: 200px;
}
panel:nth-child(6) {
  flex-basis: 200px;
}
panel:nth-child(7) {
  flex-basis: 400px;
}
panel:nth-child(8) {
  flex-basis: 200px;
}
.panel:nth-child(9) {
  flex-basis: 200px;
}

/* background colours */

.panel:nth-child(4n+1) {
  background-image:radial-gradient(circle, yellow, orange);
}

.panel:nth-child(4n+2) {
  background-image:radial-gradient(circle, lightblue, deepskyblue);
}

.panel:nth-child(4n+3) {
  background-image:radial-gradient(circle, palegreen, yellowgreen);
}

.panel:nth-child(4n+4) {
  background-image:radial-gradient(circle, lightcoral, tomato);
}